* {
    margin: 0;
    padding: 0;
}

.container {
    scroll-snap-type: y mandatory;
    overflow: scroll;
    height: 100vh;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.one {
    background-color: red;
}

.two {
    background-color: blue;
}

.three {
    background-color: green;
}

.four {
    background-color: yellow;
}