/*
Site Internet Personnel
Page : style.css
Dernière Modification : 22 octobre 2022 - 16h07
Fait par Gino Valton | ginovalton.fr
*/


/* 
Button sPage Index
*/
h2 {
    color: #3a50cc;
    padding-left: 30px;
    /*padding-top: 30px;*/
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

#right2 a {
    font-size: 30px;
    text-decoration: none;
    color: #f9edea;
    background-color: #3a50cc;
    transition: 1s;
}

#right2 a:hover, #right2 a:focus {
    font-size: 30px;
    background-color: #f9edea;
    color: #3a50cc;
}
/*
*/

#first_p {
    margin-bottom: 0px;
}

#second_p_button {
    margin: 0px;
    padding-top: 2px;
}

/*
Button Page Index Instagram
*/
.button_index {
    font-size: 20px;
    text-decoration: none;
    color: #f9edea;
    background-color: #3a50cc;
    transition: 1s;
    margin-top: 20px;
}

.button_index:hover, .button_index:focus {
    font-size: 20px;
    text-decoration: none;
    color: #3a50cc;
    background-color: #f9edea;
    margin-top: 20px;
}


/* 
List for the menu on the top of the page
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    /* display: inline; */
    float: left;
}

li a {
    display: block;
    padding: 15px;
    color: #3a50cc;
    text-align: center;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    /* font-weight: bold; */
}
/*
*/

/*
Special Design for text in list on active page
*/
.active {
    text-decoration: underline;
    color: #3a50cc;
}
/*
*/

/*
Special Design for the logo
*/
.logo {
	color: #ffc3cf;
	/*height: 1.1em;*/
}
/*
*/

/*
Special
*/
.about {
    font-size: 22px;
}

body {
    background-color: #f9edea;
}

main h1 {
    color: #3a50cc;
    padding-left: 30px;
    /*padding-top: 30px;*/
    font-size: 87px;
    font-family: 'Press Start 2P', sans-serif;
}

main p {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
}

footer p {
    padding-left: 30px;
    padding-right: 30px;
}

p {
    color: #3a50cc;
    font-family: 'Roboto', sans-serif;
}

footer {
    padding-top: 500px;
    text-align: center;
}

footer p a {
    text-decoration: none;
    color: #3a50cc;
}

img {
    max-width: 55%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 10px;
  }

table {
    color: #3a50cc;
    font-family: 'Roboto', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    font-size: 23px;
}

td {
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
    padding-bottom: 15px;
}

#right {
    padding-left: 30px;
}

#right a {
    text-decoration: none;
    color: #f9edea;
    background-color: #3a50cc;
    transition: 0.4s;
    font-size: 20px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
}

#right a:hover, #right a:focus {
    background-color: #f9edea;
    color: #3a50cc;
}

/*

#3a50cc
#f9edea

*/